.blue{
    background-color: #FF5722;
    padding: 5px 5px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}

.blue:hover{
    background-image: linear-gradient(to right, #FF5722, #FF9800);
    animation: none;
}

.text{
    padding: 5px 5px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #FF5722;
    border-radius: 50px;
    margin-bottom: 10px;
}

.text:hover{
    background-image: linear-gradient(to right, #FF5722, #FF9800);
    animation: none;
}

.white{
    padding: 5px 5px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}

.white:hover{
    background-image: linear-gradient(to right, #FF5722, #FF9800);
    animation: none;
}

body{
    background-color: black;
}
a{
    text-decoration: none;
}

.pulse-button{
    padding: 5px 5px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    animation: pulse 2s infinite;
    display: inline-block;
}

@keyframes pulse{
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.pulse-button:hover{
    animation: none;
    background-color: #E64A19;
    background-image: linear-gradient(to right, #FF5722, #FF9800);
    animation: none;

}

@keyframes pulse-pause{
    to{
        animation-play-state: paused;
        transform: scale(1);
    }
}
